*{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

#header ul{
    background: #DEDEDE;
    padding: 0;
}

#header li{
    display: inline-block;
    list-style: none;
}

#header li + li{
    border-left: 1px solid #CCC;
}

#header li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

#header li a:hover{
    background: #000;
    color: #FFF;
}